<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dicta tempora. Quae iste harum ab ad eaque ipsum aliquid voluptas, ut, nam culpa quisquam aspernatur, dolore amet doloremque animi placeat.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dicta tempora. Quae iste harum ab ad eaque ipsum aliquid voluptas, ut, nam culpa quisquam aspernatur, dolore amet doloremque animi placeat.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dicta tempora. Quae iste harum ab ad eaque ipsum aliquid voluptas, ut, nam culpa quisquam aspernatur, dolore amet doloremque animi placeat.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
